/* * {
  box-sizing: border-box;
} */
/* body,
html {
  height: 100%;
  background: url("../../img/study.jpg") no-repeat center right/cover;
} */

.container {
  /* background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3); */
  margin-top: 10%;
}
